# Draft notebooks
analysis/test*
.ipynb_checkpoints/

# Store files
*/.DS_Store
*.pyc
.vscode/

# Virtual env
covid_env/
venvanalysis/
.DS_Store
venv/
.venv/

# Credentials
src/configs/gcloud_credentials.json

# Raw data
src/cities_static.csv